
<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/wallets">Wallets</a></li>
        <li><a routerLink="/">Services</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">Wallets App</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/wallets">Wallets</a></li>
      <li><a routerLink="/">Services</a></li>
    </ul>
  </div>

  <div class="navbar-end">
  <details class="dropdown dropdown-end" *ngIf="!isLoading">
    <summary class="btn m-1">
      <span *ngIf="isAuthenticated">{{ profile?.username || 'User' }}</span>
      <span *ngIf="!isAuthenticated">Login</span>
    </summary>
    <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
      <li *ngIf="!isAuthenticated">
        <a (click)="handleLogin()">Login</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a (click)="handleLogout()">Logout</a>
      </li>
    </ul>
  </details>

  <!-- Optional loading spinner -->
  <span *ngIf="isLoading" class="loading loading-spinner loading-md"></span>
</div>
</div>
<router-outlet>

</router-outlet>
